.card {
    border: 1px solid #a9a9a9;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    color: rgb(44, 49, 68);
}

.card h2 {
    font-size: 18px;
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
}